os:
  - linux
services:
  - docker
language: node_js
jdk:
  - oraclejdk8
sudo: false
cache:
  directories:
    - $HOME/.gradle
env:
  global:
    - SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
    - SPRING_JPA_SHOW_SQL=false
    - JHI_DISABLE_WEBPACK_LOGS=true
before_install:
  - jdk_switcher use oraclejdk8
  - java -version
  - sudo /etc/init.d/mysql stop
  - sudo /etc/init.d/postgresql stop
script:
  - chmod +x gradlew
  - ./gradlew clean test integrationTest
  - ./gradlew sonarqube --no-daemon -Dsonar.organization=pchrzasz-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
  - ./gradlew bootJar -Pprod -x test
notifications:
  webhooks:
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
